@font-face {
  font-family: 'League Gothic';
  src: url("../font/league_gothic-webfont.eot");
  src: url("../font/league_gothic-webfont.eot?#iefix") format("embedded-opentype"), url("../font/league_gothic-webfont.woff") format("woff"), url("../font/league_gothic-webfont.ttf") format("truetype"), url("../font/league_gothic-webfont.svg#LeagueGothicRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* #Basic Styles
================================================== */
body {
  font: 13px/1.5em Arial,Helvetica,sans-serif;
  background: -moz-radial-gradient(center, circle cover, #555 0%, #2A2C31 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #555), color-stop(100%, #2A2C31));
  background: -webkit-radial-gradient(center, circle cover, #555 0%, #2A2C31 100%);
  background: -o-radial-gradient(center, circle cover, #555 0%, #2A2C31 100%);
  background: -ms-radial-gradient(center, circle cover, #555 0%, #2A2C31 100%);
  background: radial-gradient(center, circle cover, #555 0%, #2A2C31 100%);
  background-color: #2b2b2b;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

/* #Content
================================================== */

.container {
  position:relative;
  width:960px;
  height:50px;
  margin:0 auto;
  padding:0;
}

/* -- HEAD -- */
.topcover{
  z-index: 99999;
  width:100%;
  position:fixed;
  top:0px;
  margin:0px auto;
  background:#5A2E2E;
  -webkit-box-shadow: 0 8px 6px -6px #333;
  -moz-box-shadow: 0 8px 6px -6px #333;
  box-shadow: 0 8px 6px -6px #333;
}

/* -- MENU -- */
#botmenu{
  z-index: 99999;
  margin:0px 0px 0px 0px;
  font-size: 12px;
  overflow:hidden;
  text-transform:uppercase;
}

#submenu {
    margin:0px 0px;
    padding:0px 0px;
    height:50px;
}

#submenu ul {
    width:100%;
    float:left;
    list-style:none;
    margin:0;
    padding:0 0px;
}

#submenu li {
    float:left;
    list-style:none;
    margin:0;
    padding:0;
    color:#999;
    text-shadow:1px 1px 0px #333;
}

#submenu li a {
    color:#DFBA69;
    display:block;
    margin:0;
    padding:17px 10px 14px 10px;
    text-decoration:none;
    position:relative;
    text-shadow:1px 1px 0px #111;
}

#submenu li a:hover,
#submenu li a:active  {
    color: #fff;
    text-shadow:1px 1px 0px #111;
    background:#DFBA69;
}

#middleSection {
  position: absolute;
  left:175px;
  right:175px;
  top:60px;
  bottom:30px;
  color: black;
}

.box {
  width:420px;
  height:360px;
  color: #FFF;
  padding:2px;
  border:1px solid #FFF;
  background-color: rgba(1,1,1,0.1);
  -webkit-box-shadow: 0 8px 6px -6px #222;
  -moz-box-shadow: 0 8px 6px -6px #222;
  box-shadow: 0 8px 6px -6px #222;
  border-radius:9px;
  -moz-border-radius:9px;
  -webkit-border-radius:9px;
}

.frame {
  width:100%;
  height:100%;
  border-radius:9px;
  -moz-border-radius:9px;
  -webkit-border-radius:9px;
}

